$theme-name: 'core';

// base colors
$primary-color: #5c34a2;
$primary-color-dark: #502d8d;
$primary-color-darker: #45277a;
$secondary-color: #60db97;

// main
$main-background-color: #fff;
$main-font-family: 'Nunito', sans-serif;

// header
$header-background-color: $primary-color;
$header-logo-width: 180px;
$header-logo-height: 26px;

// header menu
$header-menu-icon-color: $secondary-color;
$header-menu-text-color: #fff;

// footer
$footer-background-color: $primary-color;
$footer-logo-width: 130px;
$footer-logo-height: 18px;
$footer-text-color: #fff;

// social icons
$social-icons-background-color: #fff;
$social-icons-icon-color: $primary-color;

// logo
$logo-image: $base-images-path + '/themes/' + $theme-name + '/logos/logo.svg';

// bridge
$bridge-gradient-start: $primary-color;
$bridge-gradient-end: #7b5ab2;
$bridge-logo-background-color: $primary-color;
$bridge-link-color: $secondary-color;
$bridge-button-background-color: $secondary-color;
$bridge-button-text-color: #fff;
$bridge-label-color: #fff;
$bridge-textfield-color: #fff;
$bridge-side-image-width: 272px;
$bridge-side-image-height: 276px;
$bridge-image-center-pointing-left: $base-images-path + '/themes/' + $theme-name + '/bridge/center-image-pointing-left.svg';
$bridge-image-center-pointing-right: $base-images-path + '/themes/' + $theme-name + '/bridge/center-image-pointing-right.svg';
$bridge-image-left: $base-images-path + '/themes/' + $theme-name + '/bridge/pattern-1.png';
$bridge-image-right: $base-images-path + '/themes/' + $theme-name + '/bridge/pattern-2.png';