version: '3'
services:
  parity1:
    build: parity
    networks:
      testnet:
        ipv4_address: 10.1.0.102
    ports:
    - "8541:8545"
  parity2:
    build:
      context: parity
      dockerfile: Dockerfile-foreign
    networks:
      testnet:
        ipv4_address: 10.1.0.103
    ports:
    - "8542:8545"
  contracts:
    build: contracts
    networks:
    - testnet
    command: "true"
  redis:
    image: "redis"
    networks:
    - testnet
  rabbit:
    image: "rabbitmq:3-management"
    networks:
    - testnet
    ports:
    - "15672:15672"
  bridge:
    build: bridge
    environment:
    - NODE_ENV=production
    - QUEUE_URL=amqp://rabbit
    - REDIS_URL=redis://redis
    - HOME_RPC_URL=http://parity1:8545
    - FOREIGN_RPC_URL=http://parity2:8545
    - HOME_BRIDGE_ADDRESS=0x32198D570fffC7033641F8A9094FFDCaAEF42624
    - FOREIGN_BRIDGE_ADDRESS=0x2B6871b9B02F73fa24F4864322CdC78604207769
    - ERC20_TOKEN_ADDRESS=0xdbeE25CbE97e4A5CC6c499875774dc7067E9426B
    - VALIDATOR_ADDRESS=0xaaB52d66283F7A1D5978bcFcB55721ACB467384b
    - VALIDATOR_ADDRESS_PRIVATE_KEY=8e829f695aed89a154550f30262f1529582cc49dc30eff74a6b491359e0230f9
    - REDIS_LOCK_TTL=1000
    - HOME_GAS_PRICE_ORACLE_URL=https://gasprice.poa.network/
    - HOME_GAS_PRICE_SPEED_TYPE=standard
    - HOME_GAS_PRICE_FALLBACK=1
    - HOME_GAS_PRICE_UPDATE_INTERVAL=600000
    - FOREIGN_GAS_PRICE_ORACLE_URL=https://gasprice.poa.network/
    - FOREIGN_GAS_PRICE_SPEED_TYPE=standard
    - FOREIGN_GAS_PRICE_FALLBACK=1
    - FOREIGN_GAS_PRICE_UPDATE_INTERVAL=600000
    - HOME_POLLING_INTERVAL=500
    - FOREIGN_POLLING_INTERVAL=500
    - ALLOW_HTTP=yes
    networks:
    - testnet
    command: "true"
  bridge-erc20:
    build: bridge
    environment:
    - NODE_ENV=production
    - BRIDGE_MODE=ERC_TO_ERC
    - QUEUE_URL=amqp://rabbit
    - REDIS_URL=redis://redis
    - HOME_RPC_URL=http://parity1:8545
    - FOREIGN_RPC_URL=http://parity2:8545
    - HOME_BRIDGE_ADDRESS=0x1feB40aD9420b186F019A717c37f5546165d411E
    - FOREIGN_BRIDGE_ADDRESS=0xD0B9745831dDA9cbb47D0dEa904972cDcecc52e8
    - ERC20_TOKEN_ADDRESS=0x7777D2BF48993088dC1ceD832863b80427Ff5Ec9
    - BRIDGEABLE_TOKEN_ADDRESS=0x792455a6bCb62Ed4C4362D323E0590654CA4765c
    - VALIDATOR_ADDRESS=0xaaB52d66283F7A1D5978bcFcB55721ACB467384b
    - VALIDATOR_ADDRESS_PRIVATE_KEY=8e829f695aed89a154550f30262f1529582cc49dc30eff74a6b491359e0230f9
    - REDIS_LOCK_TTL=1000
    - HOME_GAS_PRICE_ORACLE_URL=https://gasprice.poa.network/
    - HOME_GAS_PRICE_SPEED_TYPE=standard
    - HOME_GAS_PRICE_FALLBACK=1
    - HOME_GAS_PRICE_UPDATE_INTERVAL=600000
    - FOREIGN_GAS_PRICE_ORACLE_URL=https://gasprice.poa.network/
    - FOREIGN_GAS_PRICE_SPEED_TYPE=standard
    - FOREIGN_GAS_PRICE_FALLBACK=1
    - FOREIGN_GAS_PRICE_UPDATE_INTERVAL=600000
    - HOME_POLLING_INTERVAL=500
    - FOREIGN_POLLING_INTERVAL=500
    - ALLOW_HTTP=yes
    networks:
    - testnet
    command: "true"
  ui:
    build: ..
    environment:
    - REACT_APP_HOME_BRIDGE_ADDRESS=0x32198D570fffC7033641F8A9094FFDCaAEF42624
    - REACT_APP_FOREIGN_BRIDGE_ADDRESS=0x2B6871b9B02F73fa24F4864322CdC78604207769
    - REACT_APP_FOREIGN_HTTP_PARITY_URL=http://10.1.0.103:8545
    - REACT_APP_HOME_HTTP_PARITY_URL=http://10.1.0.102:8545
    - REACT_APP_GAS_PRICE_SPEED_TYPE=fast
    ports:
    - "3000:3000"
    networks:
      testnet:
        ipv4_address: 10.1.0.101
    command: "true"
  ui-erc20:
    build: ..
    environment:
    - REACT_APP_HOME_BRIDGE_ADDRESS=0x1feB40aD9420b186F019A717c37f5546165d411E
    - REACT_APP_FOREIGN_BRIDGE_ADDRESS=0xD0B9745831dDA9cbb47D0dEa904972cDcecc52e8
    - REACT_APP_FOREIGN_HTTP_PARITY_URL=http://10.1.0.103:8545
    - REACT_APP_HOME_HTTP_PARITY_URL=http://10.1.0.102:8545
    - REACT_APP_GAS_PRICE_SPEED_TYPE=fast
    ports:
    - "3001:3000"
    networks:
      testnet:
        ipv4_address: 10.1.0.104
    command: "true"
networks:
  testnet:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 10.1.0.0/24
