.green {
  color: #21b969;
}

.red {
  color: #ff124f;
}

.purple {
  color: #642f9c;
}

.blue {
  color: #3ab9fe;
}

.background-green {
  background-color: #60dc97;
}

.background-red {
  background-color: #f13662;
}

.background-purple {
  background-color: #642f9c;
}

.background-blue {
  background-color: #3ab9fe;
}
