.events-page {
  display: flex;
  justify-content: center;
  padding-top: 40px;

  .events-container {
    width: 960px;

    .events-header {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $mobile-width) {
        flex-direction: column;
      }

      .events-header-title {
        font-size: 24px;
        color: #333333;
        line-height: 38px;
      }

      .events-filter-container {
        width: 400px;
        height: 38px;
        border-radius: 3px;
        background-color: #ffffff;
        border: solid 1px #dadada;
        display: flex;

        @media screen and (max-width: $tablet-width) {
          width: auto;
        }

        .events-filter {
          padding-left: 10px;
          width: 205px;
          line-height: 38px;
          color: #333333;
          font-size: 14px;

          @media screen and (max-width: 330px) {
            width: 180px;
          }

          &::placeholder {
            color: #b2b2b2;
          }
        }

        .events-filter-icon {
          align-self: center;
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-right: 10px;
          margin-left: 5px;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAA0lBMVEWAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6OAl6McEf5GAAAARXRSTlMAAQIDBQYHDA0bHB8gISQmJyg+P0BGR0lMU1RVWFlcXV5iY2tsdXZ4iYqLo6Spqqusra7Cw8TFysvM29zm5+jr8vP4+fzSh6raAAABM0lEQVR4AYWTeVeCQBTFr6AtuaTYkpUVlqZm0JIaLhjBfP+v1NxDyDCcA7+/3nLPecu8QULFGs/9MPTnE6uCPIa9EntWtgGN5lJkWDaR4WwnNHYWFM5DxsLXfqN22Ok7sXeR5ts/jHy0Er/1Tj9oJ77J+tEICqOIfZiIsalnXlUwNvifn/O50HA5bQWky45OoHHMTrsgY2nNkONFhscgX9K6Ro6eDH+C+NKqI0ddhn0QFjtAjhpb2wuOigQscVpQorzJScGYRYv65aLSVTvQcLhqI7YHQjJEhqHyWDC/+dxPUHjkc3tm4nYC6t/Sg3GFdgGX8ZHNeo1qtdGb0ZNEd4oiEBq6ouNlc95zRMW9+nHWaXptG3jQFTCs6YJfbzG1OL+m0EkVt2WKLUoUGxRxs91c/QFA1F3oKOgExAAAAABJRU5ErkJggg==);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 16px 16px;
        }

        .events-select {
          width: 154px;
          height: 38px;
          line-height: 38px;
          font-size: 14px;
          text-align: left;
          color: #333333;
          border: solid 1px white;
          border-left: solid 1px #dadada;
          background-color: #ffffff;

          @media screen and (max-width: $tablet-width) {
            width: auto;
          }
        }
      }
    }

    .events-columns {
      display: flex;
      justify-content: space-between;
      margin-top: 38px;

      .column-title {
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        color: #333333;
      }

      @media screen and (max-width: $tablet-width) {
        display: none;
      }
    }

    .events-header-separator {
      width: 100%;
      height: 3px;
      background-color: #e4e4e4;
      margin-top: 20px;
    }

    .txhash-column {
      width: 375px;

      @media screen and (max-width: $tablet-width) {
        width: 300px;
      }
    }

    .recipient-column {
      width: 300px;
    }

    .value-column {
      width: 150px;
    }

    .block-column {
      text-align: right;
      width: 100px;
    }

    .event {
      display: flex;
      justify-content: space-between;
      padding-top: 22px;
      padding-bottom: 22px;
      line-height: 26px;

      @media screen and (max-width: $tablet-width) {
        flex-direction: column;
      }
    }

    .event-tx-container {
      line-height: 26px;

      @media screen and (max-width: $tablet-width) {
        display: flex;
        flex-direction: column;
      }

      .event-name {
        width: 66px;
        height: 26px;
        line-height: 26px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        color: #ffffff;
        padding: 5px;
        margin-right: 5px;

        @media screen and (max-width: $tablet-width) {
          width: fit-content;
        }
      }

      .event-txhash {
        font-size: 14px;
        text-align: left;
        color: #5c34a2;
        text-decoration: none;
      }

      .event-copy-tx {
        cursor: pointer;
        margin-left: 10px;
      }
    }

    .event-recipient {
      font-size: 14px;
      text-align: left;
      color: #5c34a2;
      text-decoration: none;
    }

    .event-recipient-label {
      color: #333333;
    }

    .event-value {
      font-size: 14px;
      text-align: left;
      color: #333333;
    }

    .event-block {
      font-size: 14px;
      text-align: right;
      color: #333333;

      @media screen and (max-width: $tablet-width) {
        text-align: left;
      }
    }

    .event-separator {
      width: 100%;
      height: 1px;
      background-color: #e4e4e4;
    }

  }
}

