.network-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

  .modal {
    min-width: 558px;
    border-radius: 10px;
    position: relative;
    min-height: 410px;

    @media screen and (max-width: $tablet-width) {
      top: 30px;
    }

    @media screen and (max-width: 600px) {
      top: 60px;
    }

    @media screen and (max-width: $mobile-width) {
      min-width: 100%;
      top: 0;
    }

    .title {
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
    }

    .description {
      margin-bottom: 25px;
      color: #8197a2;
      line-height: 24px;
      font-size: 13px;
    }

    .close-button {
      i {
        &.icon {
          &:before {
            content: url("../images/modal/close.svg");
          }
        }
      }

      padding: 15px;
      position: absolute;
      right: -40px;
      top: 40px;
      z-index: 400000;

      &:hover {
        cursor: pointer;
      }

      @media screen and (max-width: 600px) {
        right: -10px;
      }

      @media screen and (max-width: $mobile-width) {
        top: -40px;
        right: 0;
      }
    }
  }
}
