.statistics-page {
  display: flex;
  justify-content: center;

  .statistics-page-container {
    display: flex;
    flex-direction: column;
    max-width: $container-width;
    width: 70%;

    @media screen and (max-width: $tablet-width-landscape) {
      width: 100%;
    }

    @media screen and (max-width: $mobile-width) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .statistics-title {
      color: $statistics-title-color;
      font-size: 24px;
      line-height: 3;
      text-align: left;
    }

    .statistics-bridge-container {
      display: flex;
      flex-direction: column;
      padding-top: 30px;

      .statistics-bridge-data {
        display: flex;
        justify-content: space-evenly;

        @media screen and (max-width: $tablet-width) {
          flex-direction: column;
        }
      }
    }

    .statistics-transaction-container {
      display: flex;
      justify-content: space-between;
      padding-top: 90px;

      .statistics-deposit-container {
        width: 40%;
      }

      .statistics-withdraw-container {
        width: 40%;
        margin-bottom: 80px;
      }

      .statistics-bridge-data {
        display: flex;
        justify-content: space-evenly;

        @media screen and (max-width: $tablet-width) {
          flex-direction: column;
        }
      }
    }

  }

  .statistics-left-container {
    margin-right: auto;
    padding-top: 25px;
    width: 15%;

    @media screen and (max-width: $tablet-width-landscape) {
      display: none;
    }
  }
}
