html,
body,
p, h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html {
  display: flex;
  min-height: 100%;
}

body {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: $footer-height_desktop;
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;

  @media screen and (max-width: $tablet-width) {
    padding-bottom: $footer-height_mobile;
  }
}

a {
  color: #08b3f2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  margin-left: 5px;
  color: #08b3f2;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

input,
button {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

strong {
  font-weight: bold;
}

.hidden {
  overflow: hidden;
}

.container {
  @extend %container;
}

.label {
  margin-top: 15px;
  margin-bottom: 7px;
  font-weight: bold;
}

.description {
  color: #8197a2;
  line-height: 24px;
}

.break-all {
  word-break: break-all;
}

.separator {
  width: 1px;
  height: 51px;
  background-color: #e4e4e4;
}

.datablock-container {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  .datablock-value {
    font-size: 30px;
    font-weight: bold;
    color: #5c34a2;
  }

  .datablock-type {
    font-size: 18px;
    color: #5c34a2;
    margin-left: 10px;
  }

  .datablock-description {
    font-size: 14px;
    color: #333333;
  }
}

.app-container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
