.bridge-container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  display: flex;
  align-items: center;
}

.bridge {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .bridge-home {
    width: 960px;
    height: 80px;
    display: flex;
    background-image: linear-gradient(to right, #5c34a2, #7b5ab2);
    align-self: center;

    @media screen and (max-width: $mobile-width) {
      width: 100%;
    }

    .bridge-home-container {
      width: 9%;
      min-width: 60px;
      background-color: #ffffff;

      .home-logo-container {
        height: 100%;
        border-radius: 10px;
        border-bottom-right-radius: 0;
        background-color: #5c34a2;
        display: flex;
        justify-content: center;
        align-items: center;

        .home-logo {
          width: 52px;
          height: 16px;
        }
      }
    }

    .home-address-container {
      width: 92%;
      border-bottom-left-radius: 10px;
      background-color: #ffffff;
      display: flex;
      align-items: center;

      .icon-wallet {
        padding: 20px;
      }
    }
  }

  .bridge-foreign {
    width: 960px;
    height: 80px;
    display: flex;
    background-image: linear-gradient(to right, #5c34a2, #7b5ab2);
    align-self: center;

    @media screen and (max-width: $mobile-width) {
      width: 100%;
    }

    .bridge-foreign-container {
      width: 9%;
      min-width: 60px;
      background-color: #ffffff;

      .foreign-logo-container {
        height: 100%;
        border-radius: 10px;
        border-top-left-radius: 0;
        background-color: #7b5ab2;
        display: flex;
        justify-content: center;
        align-items: center;

        .foreign-logo {
          width: 54px;
          height: 11px;
        }
      }
    }

    .foreign-address-container {
      width: 92%;
      border-top-right-radius: 10px;
      background-color: #ffffff;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: right;

      .icon-wallet {
        padding: 20px;
      }
    }
  }

  .address-label {
    font-size: 12px;
    color: #5c34a2;
  }

  .address-description {
    font-size: 16px;
    font-weight: bold;
    color: #5c34a2;

    @media screen and (max-width: $mobile-width) {
      font-size: 9px;
    }

  }

  .bridge-transfer {
    height: 276px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: $mobile-width) {
      height: auto;
    }

    .left-image-wrapper {
      background-color: #5c34a2;

      .left-image {
        max-width: 238px;
        height: 271px;
        padding-top: 5px;
        padding-right: 5px;
        background-color: #ffffff;
        border-top-right-radius: 10px;

        @media screen and (max-width: $mobile-width) {
          display: none;
        }
      }
    }

    .right-image-wrapper {
      background-color: #7b5ab2;


      .right-image {
        max-width: 238px;
        height: 271px;
        padding-bottom: 5px;
        padding-left: 5px;
        background-color: #ffffff;
        border-bottom-left-radius: 10px;

        @media screen and (max-width: $mobile-width) {
          display: none;
        }
      }
    }


    .bridge-transfer-content {
      width: 880px;
      background-image: linear-gradient(to right, #5c34a2, #7b5ab2);
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      flex-shrink: 0;
      display: flex;
      flex-wrap: wrap;

      @media screen and (max-width: $mobile-width) {
        max-width: 92%;
        flex-direction: column;
      }

      .network-container-home {
        width: 22%;
        height: 136px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 70px 1% 70px 5%;
        align-items: flex-start;

        @media screen and (max-width: $mobile-width) {
          width: 80%;
        }
      }

      .network-container-foreign {
        width: 22%;
        height: 136px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 70px 5% 70px 1%;
        align-items: flex-end;

        @media screen and (max-width: $mobile-width) {
          width: 90%;
        }
      }

      .bridge-network-data {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .network-basic-label {
        font-size: 13px;
        color: #ffffff;
      }

      .network-name {
        padding-left: 5px;
        font-size: 24px;
        color: #ffffff;
      }

      .network-title {
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
      }

      .network-id {
        font-size: 14px;
        color: #ffffff;
        font-weight: bold;
        line-height: 26px;
      }

      .network-id-container {
        width: 32px;
        height: 26px;
        border-radius: 3px;
        background-color: #60db97;
        text-align: center;
        margin-left: 10px;
      }

      .network-balance {
        font-size: 13px;
        font-weight: bold;
        color: #60db97;
      }

      .network-show-more {
        font-size: 14px;
        font-weight: bold;
        color: #60db97;
      }

      .info-icon-left {
        margin-right: 10px;
      }

      .info-icon-right {
        margin-left: 10px;
      }

      .transfer-right {
        background-image: url("../images/arrows-1.svg");
        background-position: center;
        background-repeat: no-repeat;
      }

      .transfer-left {
        background-image: url("../images/arrows-2.svg");
        background-position: center;
        background-repeat: no-repeat;
      }

      .form-container {
        width: 44%;
        max-width: 384px;
        height: 276px;

        @media screen and (max-width: $mobile-width) {
          width: 100%;
        }

        .bridge-form {
          height: 276px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          @media screen and (max-width: 650px) {
            width: 100%;
            margin: 30px 0;
          }

          &-controls {
            @extend %flex-between;
            padding: 8px 8px 8px 0;
            border-radius: 5px;
            background-color: rgba(251,251,252, 0.2);
          }

          &-input {
            min-width: 0;
            height: 48px;
            padding-left: 16px;
            background-color: transparent;
            color: #ffffff;
            font-size: 24px;
            font-weight: bold;

            &::placeholder {
              font-size: 24px;
              font-weight: bold;
              color: rgba(255, 255, 255, 0.7);
            }

            &::placeholder {
              opacity: 0.3;
            }
          }

          &-label {
            margin: 0 10px;
            color: #ffffff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 48px;
          }

          &-button {
            flex-shrink: 0;
            text-decoration: none;
            display: block;
            width: 92px;
            height: 48px;
            border-radius: 3px;
            background-color: #60db97;
            color: #ffffff;
            font-weight: bold;

            &:hover {
              opacity: 0.8;
            }
          }

          .bridge-transfer-direction {
            font-size: 14px;
            color: #ffffff;
          }
        }
      }

    }
  }

  .bridge-statistics-container {
    align-self: center;
    margin-top: 60px;

    @media screen and (max-height: 720px) {
      margin-top: 30px;
    }
  }

  .bridge-statistics {
    width: 960px;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: $mobile-width) {
      width: 100%;
    }

  }

  .network-details {
    display: flex;
    flex-direction: column;
    min-width: 558px;

    .details-logo-container {
      background-color: #ffffff;
    }

    .details-body {
      background-color: #ffffff;
    }
  }
}
