.bridge-container {
    align-items: center;
    display: flex;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;

    @media screen and (max-width: $tablet-width) {
        height: 512px;
    }
}

.bridge {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;

    .bridge-home {
        align-self: center;
        background-image: linear-gradient(to right, $bridge-gradient-start, $bridge-gradient-end);
        display: flex;
        height: 80px;
        width: 960px;

        @media screen and (max-width: $tablet-width) {
            display: none
        }

        .bridge-home-container {
            background-color: $main-background-color;
            min-width: 60px;
            width: 9%;

            .home-logo-container {
                align-items: center;
                background-color: $bridge-logo-background-color;
                border-radius: 10px;
                border-bottom-right-radius: 0;
                display: flex;
                height: 100%;
                justify-content: center;

                .home-logo {
                    height: 16px;
                    width: 52px;
                }
                .foreign-logo {
                    height: 11px;
                    width: 54px;
                }
            }
        }

        .home-address-container {
            align-items: center;
            background-color: $main-background-color;
            border-bottom-left-radius: 10px;
            display: flex;
            width: 92%;

            .icon-wallet {
                padding: 20px;
            }
        }
    }

    .bridge-foreign {
        align-self: center;
        background-image: linear-gradient(to right, $bridge-gradient-start, $bridge-gradient-end);
        display: flex;
        height: 80px;
        width: 960px;

        @media screen and (max-width: $tablet-width) {
            display: none
        }

        .bridge-foreign-container {
            background-color: $main-background-color;
            min-width: 60px;
            width: 9%;

            .foreign-logo-container {
                align-items: center;
                background-color: $bridge-gradient-end;
                border-radius: 10px;
                border-top-left-radius: 0;
                display: flex;
                height: 100%;
                justify-content: center;

                .foreign-logo {
                    width: 54px;
                    height: 11px;
                }
                .home-logo {
                    width: 52px;
                    height: 16px;
                }
            }
        }

        .foreign-address-container {
            align-items: center;
            background-color: $main-background-color;
            border-top-right-radius: 10px;
            display: flex;
            justify-content: flex-end;
            text-align: right;
            width: 92%;

            .icon-wallet {
                padding: 20px;
            }
        }
    }

    .address-label {
        color: #5c34a2;
        font-size: 12px;
    }

    .address-description {
        color: #5c34a2;
        font-size: 16px;
        font-weight: bold;

        @media screen and (max-width: $tablet-width) {
            font-size: 9px;
        }
    }
    .bridge-transfer {
        height: 276px;
        display: flex;
        justify-content: center;

        @media screen and (max-width: $tablet-width) {
            height: 389px;
        }
        .left-image-wrapper {
            background-color: $bridge-gradient-start;

            .left-image {
                background-color: $main-background-color;
                background-image: url('#{ $bridge-image-left }');
                background-position: calc(100% - 5px) 5px;
                background-repeat: no-repeat;
                border-top-right-radius: 10px;
                height: $bridge-side-image-height;
                max-width: 100%;
                width: $bridge-side-image-width;

                @media screen and (max-width: $tablet-width) {
                    display: none;
                }
            }
        }

        .right-image-wrapper {
            background-color: $bridge-gradient-end;

            .right-image {
              background-color: $main-background-color;
              background-image: url('#{ $bridge-image-right }');
              background-position: 5px 5px;
              background-repeat: no-repeat;
              border-bottom-left-radius: 10px;
              height: $bridge-side-image-height;
              max-width: 100%;
              width: $bridge-side-image-width;

              @media screen and (max-width: $tablet-width) {
                  display: none;
              }
            }
        }

        .bridge-transfer-content {
            background-image: linear-gradient(to right, $bridge-gradient-start, $bridge-gradient-end);
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            width: 880px;

            @media screen and (max-width: $tablet-width) {
                border-radius: 8px;
                flex-direction: column;
                max-width: 92%;
            }

            .bridge-transfer-content-background {
                display: flex;
                flex-shrink: 0;
                flex-wrap: wrap;
                width: 880px;

                @media screen and (max-width: $tablet-width) {
                    background-image: url("../images/arrows-down@2x.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 164px 203px;
                    flex-direction: column;
                    width: auto;
                }
            }

            .network-container-home {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                height: 136px;
                justify-content: space-evenly;
                padding: 70px 1% 70px 5%;
                width: 22%;

                @media screen and (max-width: $tablet-width) {
                    align-items: center;
                    align-self: center;
                    height: 136px;
                    padding: 5px 0 5px 0;
                    width: auto;
                }
            }
            .network-container-foreign {
                align-items: flex-end;
                display: flex;
                flex-direction: column;
                height: 136px;
                justify-content: space-evenly;
                padding: 70px 5% 70px 1%;
                width: 22%;
                @media screen and (max-width: $tablet-width) {
                    align-items: center;
                    align-self: center;
                    height: 136px;
                    padding: 5px 0 5px 0;
                    width: auto;
                }
            }
            .bridge-network-data {
                align-items: center;
                cursor: pointer;
                display: flex;
            }
            .network-basic-label {
                font-size: 13px;
                color: #ffffff;
            }
            .network-name {
                color: #ffffff;
                font-size: 24px;
                padding-left: 5px;
            }
            .network-title {
                color: #ffffff;
                font-size: 24px;
                font-weight: bold;
            }
            .network-id {
                color: #ffffff;
                font-size: 14px;
                font-weight: bold;
                line-height: 26px;
            }
            .network-id-container {
                background-color: $bridge-link-color;
                border-radius: 3px;
                height: 26px;
                margin-left: 10px;
                text-align: center;
                width: 32px;
            }
            .network-balance {
                color: $bridge-link-color;
                font-size: 13px;
                font-weight: bold;
            }
            .network-show-more {
                color: $bridge-link-color;
                font-size: 14px;
                font-weight: bold;
            }
            .info-icon {
              align-items: center;
              display: flex;
              justify-content: center;
              path {
                fill: $bridge-link-color;
              }
            }
            .info-icon-left {
                margin-right: 10px;
            }
            .info-icon-right {
                margin-left: 10px;
            }
            .transfer-right {
                background-image: url('#{ $bridge-image-center-pointing-right }');
                background-position: center;
                background-repeat: no-repeat;

                @media screen and (max-width: $tablet-width) {
                    background-image: none;
                }
            }
            .transfer-left {
                background-image: url('#{ $bridge-image-center-pointing-left }');
                background-position: center;
                background-repeat: no-repeat;

                @media screen and (max-width: $tablet-width) {
                    background-image: none;
                }
            }
            .form-container {
                height: 276px;
                max-width: 384px;
                width: 44%;
                @media screen and (max-width: $tablet-width) {
                    align-self: center;
                    height: 97px;
                    width: 100%;
                }
                .bridge-form {
                    display: flex;
                    flex-direction: column;
                    height: 276px;
                    justify-content: space-evenly;
                    @media screen and (max-width: $tablet-width) {
                        height: auto;
                        width: 100%;
                    }
                    &-controls {
                        @extend %flex-between;
                        background-color: rgba(251, 251, 252, 0.2);
                        border-radius: 5px;
                        padding: 8px 8px 8px 0;
                        @media screen and (max-width: $tablet-width) {

                            background-color: unset;
                            flex-direction: column;
                            padding: 8px 8px 8px 8px;
                        }
                    }
                    .bridge-form-input-container {
                        display: flex;
                        justify-content: space-between;
                        width: 292px;

                        @media screen and (max-width: $tablet-width) {
                            background-color: rgba(251, 251, 252, 0.2);
                            border-radius: 3px 3px 0 0;
                            width: 100%;
                        }
                    }
                    &-input {
                        width: 165px;
                        height: 48px;
                        padding-left: 16px;
                        background-color: transparent;
                        color: $bridge-textfield-color;
                        font-size: 24px;
                        font-weight: bold;

                        &::placeholder {
                            font-size: 24px;
                            font-weight: bold;
                            color: rgba(255, 255, 255, 0.7);

                            @media screen and (max-width: $tablet-width) {
                                font-size: 18px;
                            }
                        }

                        &::placeholder {
                            opacity: 0.3;
                        }
                        @media screen and (max-width: $tablet-width) {
                            font-size: 18px;
                        }
                    }
                    &-label {
                        color: $bridge-label-color;
                        font-size: 24px;
                        font-weight: bold;
                        line-height: 48px;
                        margin: 0 10px;
                        text-transform: uppercase;

                        @media screen and (max-width: $tablet-width) {
                            font-size: 18px;
                        }
                    }
                    &-button {
                        background-color: $bridge-button-background-color;
                        border-radius: 3px;
                        color: $bridge-button-text-color;
                        display: block;
                        flex-shrink: 0;
                        font-weight: 700;
                        height: 48px;
                        text-decoration: none;
                        width: 92px;

                        @media screen and (max-width: $tablet-width) {
                            border-radius: 0 0 3px 3px;
                            width: 100%;
                        }
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                    .bridge-transfer-direction {
                        font-size: 14px;
                        color: #ffffff;
                    }
                }
            }
        }
    }
    .bridge-statistics-container {
        align-self: center;
        margin-top: 60px;
        @media screen and (max-height: 720px) {
            margin-top: 30px;
        }
    }
    .network-details {
        display: flex;
        flex-direction: column;
        min-width: 558px;
        @media screen and (max-width: $tablet-width) {
            min-width: 100%;
        }
        .details-logo-container {
            width: 85px;
            height: 80px;
            border-radius: 10px;
            border-bottom-right-radius: 0;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: $tablet-width) {
                display: none;
            }
            .home-logo {
                width: 52px;
                height: 16px;
            }
            .foreign-logo {
                width: 54px;
                height: 11px;
            }
        }
        .details-logo-container:after {
            content: "";
            position: absolute;
            height: 10px;
            width: 20px;
            bottom: 0;
            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
        .details-logo-container:after {
            right: 453px;
            top: 70px;
            border-radius: 0 0 0 10px;
            box-shadow: -10px 0 0 0 #fff;
            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
        .details-body {
            width: 440px;
            height: 254px;
            background-color: #ffffff;
            align-self: flex-end;
            border-radius: 0 10px 10px 10px;
            padding: 38px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media screen and (max-width: $tablet-width) {
                width: 85%;
                height: 430px;
                padding: 20px 15px 20px 15px;
                align-self: center;
                border-radius: 10px 10px 10px 10px;
            }
            @media screen and (max-width: $tablet-width) and (min-width: 415px) {
                height: 300px;
            }
            @media screen and (max-width: 600px) {
                height: 250px;
            }
            .details-data-container {
                display: flex;
                justify-content: space-between;
                @media screen and (max-width: $tablet-width) {
                    flex-direction: column;
                }
                .details-label {
                    font-size: 14px;
                    color: #777777;
                }
                .details-description {
                    font-size: 14px;
                    color: #5c34a2;
                }
                .details-description-black {
                    font-size: 14px;
                    color: #333333;
                }
                .info-icon-right {
                    margin-left: 10px;
                }
                .details-copy {
                    cursor: pointer;
                }
            }
        }
        .details-body:before {
            content: "";
            position: absolute;
            height: 10px;
            width: 20px;
            bottom: 0;
            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
        .details-body:before {
            left: 22px;
            top: 80px;
            border-radius: 0 10px 0 0;
            box-shadow: 10px 0 0 0 #fff;
            @media screen and (max-width: $tablet-width) {
                display: none;
            }
        }
    }
    .transfer-alert {
        display: flex;
        width: 600px;
        height: 265px;
        border-radius: 8px;
        background-color: #ffffff;
        @media screen and (max-width: $tablet-width) {
            flex-direction: column;
            width: 100%;
            height: auto;
        }
        .image-container {
            width: 166px;
            @media screen and (max-width: $tablet-width) {
                width: 100%;
            }
            .arrows-icon {
                width: 124px;
                height: 128px;
                margin-top: 39px;
                margin-left: 42px;
            }
        }
        .alert-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 374px;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-right: 60px;
            @media screen and (max-width: $tablet-width) {
                width: 100%;
                padding-left: 5px;
                padding-top: 0;
            }
            .alert-corner {
                width: 10px;
                height: 12px;
            }
            .transfer-title {
                display: flex;
                justify-content: space-around;
                align-items: center;
                color: #5c34a2;
                font-size: 14px;
                .alert-logo-box {
                    width: 50px;
                    height: 50px;
                    border-radius: 4px;
                    background-color: #5c34a2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .icon_arrow_right {
                    width: 14px;
                    height: 10px;
                    border-radius: 1px;
                }
            }
            .transfer-description {
                line-height: 1.71;
                font-size: 14px;
                color: #5c34a2;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .transfer-buttons {
                .transfer-confirm {
                    width: 91px;
                    height: 40px;
                    color: #ffffff;
                    font-size: 15px;
                    font-weight: bold;
                    border-radius: 3px;
                    background-color: #60db97;
                    text-decoration: none;
                }
                .transfer-cancel {
                    width: 76px;
                    height: 40px;
                    border-radius: 3px;
                    color: #5c34a2;
                    font-size: 15px;
                    font-weight: bold;
                    background-color: #ffffff;
                    border: solid 1px #5c34a2;
                    text-decoration: none;
                    margin-left: 20px;
                }
            }
        }
    }
}

.noWallet-alert {
    display: flex;
    width: 540px;
    height: 380px;
    border-radius: 10px 8px 8px 10px;
    background-color: #ffffff;
    @media screen and (max-width: $small-mobile-width) {
        padding-top: 60px;
    }
    @media screen and (max-width: $tablet-width) {
        flex-direction: column;
        width: 92%;
        height: auto;
        margin-left: 4%;
    }
    .noWallet-image-container {
        width: 150px;
        background-image: linear-gradient(to right, #7258b0, #5231a0);
        border-radius: 8px 0 0 8px;
        @media screen and (max-width: $tablet-width) {
            display: none;
        }
        .noWallet-icon {
            width: 150px;
            margin-top: 0;
        }
    }
    .noWallet-alert-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 389px;
        padding: 24px 30px;
        @media screen and (max-width: $tablet-width) {
            padding: 10px 0;
            width: 88%;
            align-self: center;
        }
        .noWallet-title {
            font-size: 44px;
            color: #5c34a2;
            line-height: 1;
            @media screen and (max-width: $tablet-width) {
                font-size: 30px;
                padding-top: 2%;
                padding-bottom: 2%;
            }
        }
        .noWallet-description {
            font-size: 14px;
            color: #666666;
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 1.71;
            @media screen and (max-width: $tablet-width) {
                padding-left: 1%;
                padding-right: 1%;
            }
        }
    }
    .noWallet-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        align-content: space-around;
        height: 100%;
        @media screen and (max-width: $small-mobile-width) {
            flex-direction: column;
        }
        .noWallet-metamask {
            width: 96px;
            line-height: 36px;
            text-align: center;
            border-radius: 3px;
            color: #ffffff;
            background-color: #ffaa07;
            @media screen and (max-width: $small-mobile-width) {
                width: 100%;
            }
        }
        .noWallet-niftyWallet {
            width: 106px;
            line-height: 36px;
            text-align: center;
            border-radius: 3px;
            color: #ffffff;
            background-color: #5c34a2;
            @media screen and (max-width: $small-mobile-width) {
                width: 100%;
                margin: 10px 0;
            }
        }
        .noWallet-alphawallet {
            width: 106px;
            line-height: 36px;
            text-align: center;
            border-radius: 3px;
            color: #ffffff;
            background-color: #64a231;
            @media screen and (max-width: $small-mobile-width) {
                width: 100%;
                margin: 10px 0;
            }
        }
        .noWallet-cancel {
            width: 72px;
            height: 36px;
            border-radius: 3px;
            border: 1px solid #5c34a2;
            color: #5c34a2;
            background-color: #ffffff;
            @media screen and (max-width: $small-mobile-width) {
                width: 100%;
            }
        }
    }
}

.disclaimer-alert {
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    height: 518px;
    padding: 30px 0;
    width: 600px;

    @media screen and (max-width: $small-mobile-width) {
        padding-top: 60px;
    }
    @media screen and (max-width: $tablet-width) {
        flex-direction: column;
        width: 92%;
        height: auto;
        margin-left: 4%;
    }

    .image-container {
        width: 164px;
        @media screen and (max-width: $tablet-width) {
            display: none;
        }
        .disclaimer-icon {
            width: 117px;
            height: 173px;
            margin-top: 44px;
            margin-left: 25px;
        }
    }
    .alert-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 389px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 46px;
        @media screen and (max-width: $tablet-width) {
            padding: 10px 0;
            width: 88%;
            align-self: center;
        }
        .alert-corner {
            width: 10px;
            height: 12px;
        }
        .disclaimer-title {
            font-size: 44px;
            color: #5c34a2;
            line-height: 1;
            @media screen and (max-width: $tablet-width) {
                font-size: 30px;
                padding-top: 2%;
                padding-bottom: 2%;
            }
        }
        .disclaimer-description {
            font-size: 14px;
            color: #666666;
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 1.71;
            @media screen and (max-width: $tablet-width) {
                padding-left: 1%;
                padding-right: 1%;
            }
        }
        .disclaimer-tos {
            padding-left: 5px;
            color: #333333;
        }
        .disclaimer-link {
            color: #5c34a2;
        }
        .disclaimer-buttons {
            .disclaimer-confirm {
                width: 91px;
                height: 40px;
                color: #ffffff;
                font-size: 15px;
                font-weight: bold;
                border-radius: 3px;
                background-color: #60db97;
                text-decoration: none;
            }
            .disclaimer-confirm-disabled {
                width: 91px;
                height: 40px;
                color: #ffffff;
                font-size: 15px;
                font-weight: bold;
                border-radius: 3px;
                background-color: #808080;
                text-decoration: none;
                opacity: 0;
            }
        }
    }
}