.footer {
  @extend %full-width;
  position: absolute;
  bottom: 0;
  padding: 18px 0;
  background-color: #5c34a2;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .socials {
    order: 2;

    @media screen and (max-width: $tablet-width) {
      order: 1;
    }
  }

  &-logo {
    display: block;
    background-image: url(../images/logos/logo-poa-bottom.png);
    @include image-2x('../images/logos/logo-poa-bottom@2x.png', 126px, 18px);
    order: 0;
    left: 0;
    width: 126px;
  	height: 18px;
  }

  &-rights {
    order: 1;
    color: #fff;
    text-align: center;
    font-size: 12px;

    @media screen and (max-width: $tablet-width) {
      order: 2;
      width: 100%;
      margin-top: 15px;
      line-height: normal;
    }
  }
}
