.header {
  width: 100%;
  background-color: #5c34a2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 9999;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: $mobile-width) {
      width: 93%;
      padding: 22px 0;
    }

    @media screen and (max-width: $tablet-width) {
      padding: 22px 0;
    }
  }

  &-logo {
    display: block;
    width: 162px;
  	height: 26px;
  }


  .links_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;

    @media screen and (max-width: $mobile-width) {
      display: none;
    }

    @media screen and (max-width: $tablet-width) {
      justify-content: flex-end;
      width: auto;
    }
  }

  .links_container_mobile {
    display: none;

    @media screen and (max-width: $mobile-width) {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
    }
  }

  .link {
    margin-left: 30px;
    line-height: 16px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;

    @media screen and (max-width: $mobile-width) {
      margin-left: 0;
    }
  }

  .link_text {
    margin-left: 10px;
  }

  .icon_events {
    width: 18px;
    height: 16px;
    background-image: url(../images/icons/icon-events.svg);
    float: left;
  }

  .icon_status {
    width: 18px;
    height: 18px;
    background-image: url(../images/icons/icon-status.svg);
    float: left;
  }

  .icon_statistics {
    width: 18px;
    height: 18px;
    background-image: url(../images/icons/icon-statistics.svg);
    float: left;
  }

  .mobile-menu {
    display: none;
    @media screen and (max-width: $mobile-width) {
      display: block;
    }

    .mobile-menu-icon {
      width: 18px;
      height: 14px;
    }

    .mobile-menu-open-icon {
      width: 18px;
      height: 18px;
    }
  }

  .header-mobile-menu-container {
    @media screen and (max-width: $mobile-width) {
      height: 172px;
      background-color: #45277a;
    }
  }

  .header-wallet {
    width: 220px;
    height: 70px;
    background-color: #502d8d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media screen and (max-width: $tablet-width) {
      display: none;
    }

    .wallet-container {
      padding-left: 20px;
      display: flex;

      .wallet-icon {
        width: 18px;
        height: 18px;
        margin-right: 10px;
      }

      .wallet-text {
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        color: #ffffff;
      }

      .wallet-link {
        cursor: pointer;
      }

      .wallet-text-metamask {
        color: #60db97;
      }
    }

    .daily-quota-container {
      margin-left: 20px;
      width: 180px;
      height: 6px;
      border-radius: 3px;
      background-color: #45277a;

      .daily-quota-progress {
        height: 6px;
        border-radius: 3px;
        background-color: #60db97;
      }
    }
  }

  .daily-quota-modal-container {

    @media screen and (max-width: $tablet-width) {
      display: none
    }

    .daily-quota-modal-arrow {
      content: " ";
      position: absolute;
      top: -10px;
      border-top: none;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-bottom: 10px solid black;
      z-index: 9999;
    }

    .daily-quota-modal {
      width: 219px;
      height: 102px;
      border-radius: 3px;
      box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.05);
      background-color: #ffffff;
      border: solid 1px #e4e4e9;
      position: fixed;
      z-index: 999;

      .modal-container {
        display: flex;
        flex-direction: column;
        padding: 15px;
        justify-content: space-between;
        height: 72px;

        .daily-quota-title {
          font-size: 14px;
          font-weight: bold;
          text-align: left;
          color: #5c34a2;
        }

        .daily-quota-description {
          width: 172px;
          height: 45px;
          font-size: 12px;
          text-align: left;
          color: #333333;
        }
      }
    }

    .daily-quota-modal:after {
      content: " ";
      position: absolute;
      right: 105px;
      top: -6px;
      border-top: none;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      border-bottom: 6px solid #e4e4e9;
    }
  }

}
