.header {
  width: 100%;
  padding: 22px 0;
  background-color: #5c34a2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &-logo {
    display: block;
    width: 162px;
  	height: 26px;
  }


  .links_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: $mobile-width) {
      margin-top: 20px;
    }
  }

  .link {
    margin-left: 30px;
    line-height: 16px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
  }

  .link_text {
    margin-left: 10px;
  }

  .icon_events {
    width: 18px;
    height: 16px;
    background-image: url(../images/icons/icon-events.svg);
    float: left;
  }

  .icon_status {
    width: 18px;
    height: 18px;
    background-image: url(../images/icons/icon-status.svg);
    float: left;
  }

  .icon_statistics {
    width: 18px;
    height: 18px;
    background-image: url(../images/icons/icon-statistics.svg);
    float: left;
  }

}
