@keyframes fadeOut {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: .2;
    transform: scale(0.3);
  }
}

.loading {
  width: 234px;
  height: 50px;

  &-container {
    position: fixed;
    z-index: 1000000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(78,44,137, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-i {
    width: 2px;
    height: 50px;
    border-radius: 1px;
    background-color: #60db97;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: fadeOut;
    animation-timing-function: linear;
    opacity:.2;

    &:nth-child(2) {
      animation-delay: .1s;
    }
  }

  &-text {
    text-align: center;
    width: 500px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: normal;
    color: #ffffff;

    @media screen and (max-width: $mobile-width) {
      font-size: 18px;
    }
  }
}

.mobile-container {
  @media screen and (max-width: $mobile-width) {
    flex-direction: column;
  }
}
