.network-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    min-width: 558px;
    border-radius: 10px;
    position: relative;
    min-height: 410px;

    @media screen and (max-width: $tablet-width) {
      top: 30px;
    }

    @media screen and (max-width: $mobile-width) {
      min-width: 100%;
    }

    .title {
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
    }

    .description {
      margin-bottom: 25px;
      color: #8197a2;
      line-height: 24px;
      font-size: 13px;
    }

    .close-button {
      i {
        &.icon {
          &:before {
            content: url("../images/icons/close.svg");
          }
        }
      }
      position: absolute;
      top: 40px;
      right: -40px;
      z-index: 400000;
      padding: 15px;

      &:hover {
        cursor: pointer;
      }

      @media screen and (max-width: $mobile-width) {
        top: 40px;
        right: 0px;
      }
    }
  }
}
