.socials {
  font-size: 0;

  &-item {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &-i {
    transition: 0.3s background-color;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #ffffff;

    &:not(:first-child) {
      margin-left: 10px;
    }

    &:hover {
      background-color: fade-out(#fff, 0.6);
    }

    &:before {
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
    }

    &_github {
      &:before {
        @include image-2x('../images/socials/git@2x.png', 16px, 16px);
        content: '';
        background-image: url(../images/socials/git.png);
        width: 16px;
        height: 16px;
      }
    }

    &_telegram {
      &:before {
        @include image-2x('../images/socials/telegram@2x.png', 16px, 14px);
        background-image: url(../images/socials/telegram.png);
        content: '';
        width: 16px;
        height: 14px;
      }
    }

    &_twitter {
      &:before {
        @include image-2x('../images/socials/tw@2x.png', 15px, 12px);
        background-image: url(../images/socials/tw.png);
        content: '';
        width: 15px;
        height: 12px;
      }
    }
  }
}
