.status-page {
  display: flex;
  justify-content: center;

  .status-page-container {
    width: 70%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $tablet-width) {
      width: 90%;
    }

    .status-title {
      font-size: 24px;
      line-height: 3;
      text-align: left;
      color: #333333;
    }

    .status-configuration-container {
      display: flex;
      flex-direction: column;
      padding-top: 30px;

      .status-configuration-data {
        display: flex;
        justify-content: space-evenly;

        @media screen and (max-width: $tablet-width) {
          flex-direction: column;
        }
      }
    }

    .status-authorities-container {
      display: flex;
      flex-direction: column;
      margin-top: 80px;

      .status-authorities-title {
        padding-bottom: 30px;
      }

      .status-authorities-data {
        display: flex;
        flex-direction: column;

        .authority {
          display: flex;
          padding-bottom: 20px;

          .authority-number {
            font-size: 30px;
            font-weight: bold;
            line-height: 59px;
            text-align: left;
            color: #5c34a2;
            padding-right: 20px;

            @media screen and (max-width: $tablet-width) {
              padding-right: 5px;
            }
          }

          .authority-logo {
            padding-left: 20px;
            width: 59px;
            height: 59px;

            @media screen and (max-width: $tablet-width) {
              display: none;
            }
          }

          .authority-address {
            font-size: 16px;
            font-weight: bold;
            line-height: 59px;
            text-align: left;
            color: #333333;
            padding-left: 20px;

            @media screen and (max-width: $tablet-width) {
              font-size: 12px;
              padding-left: 0;
            }
          }
        }
      }
    }
  }

  .status-left-container {
    width: 15%;
    padding-top: 25px;

    @media screen and (max-width: $mobile-width) {
      display: none;
    }
  }

  .status-right-container {
    width: 15%;
    padding-top: 25px;
    overflow: hidden;
    @media screen and (max-width: $mobile-width) {
      display: none;
    }
  }
}
