.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
  text-align: center;
}
b {
  display: block;
  padding: 15px;
  border-bottom: solid 1px;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}
.container {
  display: flex;
}

.Rtable {
  margin: 0 0 3em 0;
  padding: 0;
  border: solid 1px;
}
.Rtable-cell {
  box-sizing: border-box;
  width: 100%;  
  padding: 0.8em 1.2em;
  overflow: hidden; 
}

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell  { width: 50%; border: solid 3px rgb(24, 23, 23); }
.Rtable--3cols > .Rtable-cell  { width: 33.33%; }
.Rtable--4cols > .Rtable-cell  { width: 25%; }
.Rtable--5cols > .Rtable-cell  { width: 20%; }
.Rtable--6cols > .Rtable-cell  { width: 16.6%; }

.events>:nth-child(even){
  background-color: #d9c7e8;
  opacity: 0.9;
}
.events>:nth-child(odd){
  background-color: #ae9dbd;
  opacity: 0.9;
}